* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
body {
  overflow-x: hidden;
  font-family: var(--fuente-principal);
  background: rgb(235, 235, 235);
}

.contenido-centrado {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contenido-centrado {
    padding: 0 40px;
  }
}
.oculto {
  display: none;
}

.mini-texto {
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(0, 195, 230);
  text-align: left;
  font-size: 1.1rem;
}
.texto-comun {
  letter-spacing: 0px;
  line-height: 2;
  color: rgb(128, 128, 128);
  font-weight: 500;
}

.texto-vertical {
  position: relative;
  .txt-vertical {
    transform: rotate(90deg);
    position: absolute;
    width: 300px;
    height: 20px;
    bottom: 50%;
    left: -135px;
    font-weight: 900;
    color: rgb(61, 61, 61);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

//FUENTES Y COLORES
@font-face {
  font-family: "fantasia";
  src: url("/fuentes/Dead\ Stock\ -\ Demo.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
:root {
  --fuente-fantasia: "fantasia";
  --fuente-principal: "Poppins", sans-serif;
  --color-principal: #00c3e6;
  --color-titulos: rgb(20, 20, 20);
  --color-textos: rgb(131, 131, 131);
}

//MIXINS
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//BOTONES

.btn-principal {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 7px 15px;
  border: 2px solid var(--color-principal);
  text-align: center;
}
.btn-secundario {
  max-width: 200px;
  margin: 0 auto;
  background: var(--color-principal);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 3px;
  padding: 7px 15px;
  border: 2px solid var(--color-principal);
  @include flexbox(row, center, center);
  color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgba(63, 63, 63, 0.356);
}
//INICIO NAVEGACION PRINCIPAL

.nav-principal {
  width: 100%;
  height: 70px;
  background: white;
  @include flexbox(row, space-between, center);
  .logo {
    width: 70px;
    height: 70px;
    border: 1px solid black;
  }
  .hamburguesa {
    width: 50px;
    height: 50px;
    @include flexbox(column, center, center);
  }
  .linea-hamburguesa {
    width: 35px;
    height: 4px;
    background: var(--color-principal);
    margin: 3px 0px;
  }
}

//INICIO MEDIA QUERYS NAV PRINCIPAL

@media (min-width: 768px) {
  .nav-principal {
    height: 140px;
    .hamburguesa {
      display: none;
    }
    .nav-desktop {
      @include flexbox(row, space-between, center);
      width: calc(100% - 50px);
      height: 100%;
    }
    .contenedor-links {
      @include flexbox(row, flex-start, center);
      width: 70%;
      height: 100%;
      list-style-type: none;
    }
    .links {
      padding: 5px 15px;
      margin: 0px 0px 0px 25px;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 900;
    }
  }
}

//INICIO HEADER PRINCIPAL

.header-principal {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 50px;
  padding-bottom: 200px;
  background: linear-gradient(white 50%, rgb(235, 235, 235) 50%);

  .descripcion-header {
    @include flexbox(column, flex-start, center);
    position: relative;
  }
  .logo {
    width: 120px;
    height: 120px;
    background: red;
    margin: 0 auto 30px;
  }
  .titulo-principal {
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    font-weight: 900;
  }
  .descripcion-principal {
    text-align: center;
    font-size: 0.9rem;
    margin: 10px 0px 30px;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: 0px;
  }
}

//MEDIA QUERYS HEADER PRINCIPAL

@media (min-width: 768px) {
  .header-principal {
    padding-top: 0;
    grid-template-columns: 100px 1fr 30px;
    grid-template-rows: 500px;
    .contenedor-desktop {
      position: absolute;
      left: 0;
      bottom: 50px;
      width: 450px;
    }
    .logo {
      display: none;
    }
    .titulo-principal {
      text-align: left;
      font-size: 6rem;
    }
    .descripcion-principal {
      text-align: left;
    }
    .btn-secundario {
      margin: 0;
    }
    .video-desktop {
      display: block;
    }
    .texto-vertical {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .header-principal {
    grid-template-rows: 600px;
    .contenedor-desktop {
      bottom: 100px;
    }
  }
}

//INICIO OFERTAS

.ofertas {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(235, 235, 235);
  .img-principal {
    width: 100%;
    height: 500px;
  }
  .btn-principal {
    display: none;
  }
  .titulo-fantasia {
    @include flexbox(column, flex-end, center);
    position: relative;
    height: 200px;
    margin: 0 auto;
    max-width: 280px;
  }
  .fuente-1 {
    font-family: var(--fuente-fantasia);
    font-size: 6rem;
    position: absolute;
    top: 30px;
    left: 50px;
    transform: scale(1.1, 1.5);
    letter-spacing: -5px;
    margin: 0 auto;
    text-transform: uppercase;
  }

  .fuente-2 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 90px;
    width: 100%;
  }
  .letra {
    display: inline-block;
    transform: scale(1.3, 2);
    position: relative;
    left: -20px;
  }
  .descripcion-oferta {
    max-width: 350px;
    margin: 0 auto;
    .btn-principal {
      display: block;
      letter-spacing: 2px;
    }
  }
  .mini-texto {
    padding: 50px 0px 0px;
  }
  .texto-comun {
    margin: 20px 0px;
    max-width: 400px;
  }
}

//INICIO MEDIA QUERYS OFERTAS

@media (min-width: 660px) {
  .ofertas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 700px 200px;
    .marcas {
      display: block;
      border: 1px solid black;
      grid-row: 2 / 3;
    }
    .swiper-slider {
      display: grid;
      grid-template-columns: 350px 1fr;
      grid-template-rows: 200px 1fr 180px;
      max-width: 750px;
      margin: 0 auto;
    }
    .titulo-fantasia {
      grid-column: 2 / 3;
      margin: 0;
      width: 100%;
      left: -70px;
    }
    .img-principal {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      position: relative;
      height: 700px;
    }
    .imgss {
      object-fit: fill;
    }
  }
}

@media (min-width: 1244px) {
  .ofertas {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    .marcas {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
}

//INICIO SECCION TRABAJO

.trabajo {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(rgb(235, 235, 235) 50%, white 50%);
  position: relative;
  .carta-trabajo {
    padding: 25px 10px;
    @include flexbox(column, flex-start, center);
    background: white;
    max-width: 300px;
    margin: 0 auto;
  }
  .logo {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  .texto-comun {
    text-align: center;
    margin: 20px 0px;
    line-height: 1.8;
  }
  .txt-vertical {
    transform: rotate(-90deg);
  }
}

@media (min-width: 768px) {
  .trabajo {
    display: grid;
    grid-template-columns: 40px 1fr;
    .swiper-slide {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr;
      position: relative;
      height: 450px;
    }
    .texto-vertical {
      display: block;
      grid-column: 1 / 2;
    }
    .img-trabajo {
      grid-column: 1 / 2;
      display: block;
      background: url("/video/AIPAAWA-9784_600x600.webp") center / cover
        no-repeat;
    }
    .carta-trabajo {
      grid-column: 2 / 3;
      position: absolute;
      top: 20px;
      left: -150px;
    }
  }
}

@media (min-width: 1024px) {
  .trabajo {
    .swiper-slide {
      height: 500px;
    }
    .carta-trabajo {
      top: 25px;
      left: -170px;
      max-width: 350px;
      height: 450px;
    }
    .texto-comun {
      margin-bottom: 40px;
      line-height: 2;
    }
  }
}

//INICIO SECCION ABOUT

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 450px;
  background: rgba(255, 255, 255, 0.897);
  position: relative;
  .descripcion-about {
    @include flexbox(column, center, center);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  .titulos-secciones {
    text-transform: uppercase;
    font-size: 3.4rem;
    line-height: 1;
    max-width: 300px;
    font-weight: 900;
  }
  .texto-comun {
    margin: 10px 0px 20px;
    width: 90%;
  }
  .txt-vertical {
    top: 185px;
  }
}

@media (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr 20px;
    grid-template-rows: 1fr;
    .descripcion-about {
      text-align: left;
      align-items: flex-start;
      margin-left: 0;
    }
    .img-about {
      background: black;
      display: block;
      position: relative;
      z-index: 2;
    }
    .texto-vertical {
      display: block;
      position: relative;
      z-index: 2;
    }
  }
}

@media (min-width: 1100px) {
  .about {
    .texto-comun {
      width: 460px;
    }
  }
}

//IMG-BODY
.contenedor-img-body {
  padding: 0;
  height: 250px;
  position: relative;
}
.contenedor-img-body:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.685);
  position: absolute;
  left: 0;
  top: 0;
}

//INICIO FOOTER PRINCIPAL

.footer-principal {
  background: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3;
  padding-top: 50px;
  .logo {
    background: red;
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
  .descripcion-footer {
    padding: 0px 0px 10px;
  }
  .descripcion-footer {
    padding: 50px 0px 10px;
  }
  .mini-titulos {
    text-align: center;
  }
  .lista-footer {
    list-style-type: none;
  }
  .item-footer {
    padding: 10px 0px;
  }
  .redes {
    background: red;
    @include flexbox(row, space-between, center);
    list-style-type: none;
    width: 80%;
    max-width: 300px;
  }
}

//INICIO MEDIA QUERYS FOOTER PRINCIPAL

@media (min-width: 545px) {
  .footer-principal {
    grid-template-columns: 1fr 1fr;
    .descripcion-footer {
      padding: 0px;
    }
    .nav-footer {
      grid-column: 2 / 3;
      padding-top: 50px;
    }
  }
}

@media (min-width: 768px) {
  .footer-principal {
    grid-template-columns: 1fr 1fr 1fr;
    .nav-footer {
      grid-column: 3 / 4;
      padding-top: 0px;
    }
    .mini-titulos {
      text-align: left;
      margin-bottom: 20px;
    }
  }
}
@media (min-width: 1024px) {
  .footer-principal {
    grid-template-columns: 2fr 1fr 1fr;
    .logo {
      margin: 0 auto 0 0;
      width: 150px;
      height: 150px;
    }
    .descripcion-footer {
      padding: 0;
    }
  }
}
