@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 300px;
  overflow-x: hidden;
  font-family: var(--fuente-principal);
  background: #ebebeb;
}

.contenido-centrado {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenido-centrado {
    padding: 0 50px;
  }
}

.oculto {
  display: none;
}

.mini-texto {
  color: var(--color-principal);
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 700;
}

.texto-comun {
  letter-spacing: 0px;
  line-height: 2;
  color: gray;
  font-weight: 500;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

.texto-vertical {
  position: relative;
}

.texto-vertical .txt-vertical {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  width: 348px;
  left: -160px;
  height: 20px;
  bottom: 50%;
  font-weight: 900;
  color: #3d3d3d;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
}

@font-face {
  font-family: "fantasia";
  src: url("/fuentes/Dead Stock - Demo.ttf");
}

:root {
  --fuente-fantasia: "fantasia";
  --fuente-principal: "Poppins", sans-serif;
  --color-principal: #02d1d8;
  --color-titulos: rgb(20, 20, 20);
  --color-textos: rgb(131, 131, 131);
}

.btn-principal {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 7px 15px;
  border: 2px solid var(--color-principal);
  text-align: center;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.btn-principal:hover {
  background: black;
  color: var(--color-principal);
  border: 2px solid black;
}

.btn-secundario {
  max-width: 200px;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 3px;
  padding: 7px 15px;
  border: 2px solid var(--color-principal);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 5px rgba(63, 63, 63, 0.356);
          box-shadow: 5px 5px 5px rgba(63, 63, 63, 0.356);
  background: var(--color-principal);
  color: white;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.btn-secundario:hover {
  background: black;
  color: var(--color-principal);
}

.nav-principal {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-principal .logo {
  width: 70px;
  height: 70px;
}

.nav-principal .hamburguesa {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-principal .linea-hamburguesa {
  width: 35px;
  height: 4px;
  background: var(--color-titulos);
  margin: 3px 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-principal .hamburguesa:hover .linea-hamburguesa {
  background: var(--color-principal);
}

@media (min-width: 768px) {
  .nav-principal {
    height: 140px;
    background: #fff;
  }
  .nav-principal .logo {
    width: 90px;
    height: 90px;
  }
  .nav-principal .hamburguesa {
    display: none;
  }
  .nav-principal .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 50px);
    height: 100%;
  }
  .nav-principal .contenedor-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    height: 100%;
    list-style-type: none;
  }
  .nav-principal .links {
    padding: 5px 15px;
    margin: 0px 0px 0px 25px;
    text-transform: uppercase;
    font-size: clamp(0.75rem, 1.4vw, 0.9rem);
    font-weight: 900;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    cursor: pointer;
  }
  .nav-principal .links:hover {
    background: var(--color-titulos);
    color: white;
  }
}

.header-principal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-top: 50px;
  padding-bottom: 200px;
  background: url("/images/header-bg-movil.webp") center/cover no-repeat;
  position: relative;
}

.header-principal .descripcion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.header-principal .logo {
  width: 120px;
  height: 120px;
  margin: 0 auto 30px;
}

.header-principal .titulo-principal {
  text-transform: uppercase;
  font-size: clamp(4rem, 12vw, 6rem);
  line-height: 1;
  text-align: center;
  font-weight: 900;
}

.header-principal .descripcion-principal {
  text-align: center;
  font-size: clamp(0.85rem, 2.2vw, 1rem);
  margin: 10px 0px 30px;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 0px;
}

.header-principal:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(235, 235, 235, 0.89);
  z-index: 2;
}

@media (min-width: 850px) {
  .header-principal {
    padding-top: 0;
    -ms-grid-columns: 100px 1fr 30px;
        grid-template-columns: 100px 1fr 30px;
    -ms-grid-rows: 500px;
        grid-template-rows: 500px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, white), color-stop(45%, #ebebeb));
    background: linear-gradient(white 45%, #ebebeb 45%);
  }
  .header-principal .contenedor-desktop {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 450px;
  }
  .header-principal .logo {
    display: none;
  }
  .header-principal .titulo-principal {
    text-align: left;
  }
  .header-principal .descripcion-principal {
    text-align: left;
  }
  .header-principal .btn-secundario {
    margin: 0;
  }
  .header-principal .img-header-desktop {
    display: block;
  }
  .header-principal .img-header-desktop img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header-principal .texto-vertical {
    display: block;
  }
  .header-principal:after {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header-principal {
    -ms-grid-rows: 600px;
        grid-template-rows: 600px;
  }
  .header-principal .contenedor-desktop {
    bottom: 95px;
  }
}

.ofertas {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #ebebeb;
  overflow: hidden;
}

.ofertas .img-principal {
  width: 100%;
  height: 450px;
}

.ofertas .imgss {
  -o-object-fit: contain;
     object-fit: contain;
}

.ofertas .btn-principal {
  display: none;
}

.ofertas .titulo-fantasia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 200px;
  margin: 0 auto;
  max-width: 280px;
}

.ofertas .fuente-1 {
  font-family: var(--fuente-fantasia);
  font-size: 6rem;
  position: absolute;
  top: -30px;
  left: 50px;
  -webkit-transform: scale(1.1, 1.5);
          transform: scale(1.1, 1.5);
  letter-spacing: -5px;
  margin: 0 auto;
  text-transform: uppercase;
}

.ofertas .fuente-1::first-letter {
  font-size: 9rem;
  margin-left: -30px;
  margin-right: 0px;
}

.ofertas .fuente-2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  padding-left: 90px;
  width: 100%;
}

.ofertas .letra {
  display: inline-block;
  -webkit-transform: scale(1.3, 2);
          transform: scale(1.3, 2);
  position: relative;
  left: -20px;
}

.ofertas .descripcion-oferta {
  max-width: 350px;
  margin: 0 auto;
}

.ofertas .descripcion-oferta .btn-principal {
  display: block;
  letter-spacing: 2px;
  max-width: 150px;
}

.ofertas .mini-texto {
  padding: 50px 0px 0px;
}

.ofertas .texto-comun {
  margin: 20px 0px;
  max-width: 400px;
}

@media (min-width: 660px) {
  .ofertas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 700px 200px;
        grid-template-rows: 700px 200px;
  }
  .ofertas .swiper-container {
    display: none;
  }
  .ofertas .contenedor-slide-desktop {
    display: -ms-grid;
    display: grid;
  }
  .ofertas .marcas {
    display: block;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .ofertas .item-marca {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .ofertas .texto-fantasia {
    font-family: var(--fuente-fantasia);
    text-transform: uppercase;
    font-size: 3rem;
    color: #9c9c9c;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .ofertas .item-marca:hover .texto-fantasia {
    color: black;
    font-size: 3.2rem;
  }
  .ofertas .slide-desktop {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 350px 1fr;
        grid-template-columns: 350px 1fr;
    -ms-grid-rows: 200px 1fr 180px;
        grid-template-rows: 200px 1fr 180px;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
  }
  .ofertas .titulo-fantasia {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin: 0;
    width: 100%;
    left: -90px;
  }
  .ofertas .img-principal {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
    position: relative;
    height: 600px;
  }
  .ofertas .descripcion-oferta {
    margin-left: 0;
  }
  .ofertas .fuente-1::first-letter {
    font-size: 10rem;
    margin-left: -60px;
    margin-right: 10px;
  }
}

@media (min-width: 1244px) {
  .ofertas {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .ofertas .marcas {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
  }
}

.trabajo {
  padding-top: 50px;
  padding-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ebebeb), color-stop(50%, white));
  background: linear-gradient(#ebebeb 50%, white 50%);
  position: relative;
}

.trabajo .carta-trabajo {
  padding: 25px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 5px #d4d4d4;
          box-shadow: 1px 1px 5px #d4d4d4;
}

.trabajo .logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.trabajo .mini-texto {
  text-align: center;
}

.trabajo .texto-comun {
  text-align: center;
  margin: 20px 0px;
  line-height: 1.8;
}

.trabajo .txt-vertical {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 500px;
  z-index: 99;
  left: -230px;
  bottom: 50%;
}

@media (min-width: 768px) {
  .trabajo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40px 1fr;
        grid-template-columns: 40px 1fr;
  }
  .trabajo .contenido-trabajo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 1fr;
        grid-template-columns: 4fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    position: relative;
    height: 500px;
  }
  .trabajo .texto-vertical {
    display: block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .trabajo .img-trabajo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    display: block;
  }
  .trabajo .carta-trabajo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    position: absolute;
    top: 15px;
    left: -220px;
    min-width: 350px;
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  .trabajo .contenido-trabajo {
    height: 550px;
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .trabajo .carta-trabajo {
    top: 17px;
    left: -170px;
  }
  .trabajo .texto-comun {
    margin-bottom: 40px;
    line-height: 2;
  }
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 450px;
  background: white;
  position: relative;
}

.about .descripcion-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.about .titulos-secciones {
  text-transform: uppercase;
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  line-height: 1;
  max-width: 300px;
  font-weight: 900;
}

.about .texto-comun {
  margin: 10px 0px 20px;
  width: 90%;
}

@media (min-width: 850px) {
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 20px;
        grid-template-columns: 1fr 1fr 20px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .about .descripcion-about {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0;
  }
  .about .img-about {
    display: block;
    position: relative;
    z-index: 2;
  }
  .about .texto-vertical {
    display: block;
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 1100px) {
  .about .texto-comun {
    width: 460px;
  }
}

.contenedor-img-body {
  padding: 0;
  height: 250px;
  position: relative;
  background: white;
}

.contenedor-img-body img {
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor-img-body:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.726);
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 768px) {
  .contenedor-img-body img {
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.footer-principal {
  background: black;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3;
      grid-template-rows: 3;
  padding-top: 50px;
}

.footer-principal .logo {
  height: 100px;
  width: 100px;
  margin-right: auto;
}

.footer-principal .descripcion-footer {
  padding: 50px 0px 10px;
}

.footer-principal .nav-footer {
  padding-top: 20px;
}

.footer-principal .mini-texto {
  text-align: center;
  font-size: 0.9rem;
}

.footer-principal .lista-footer {
  list-style-type: none;
}

.footer-principal .item-footer {
  padding: 5px 0px;
  text-transform: capitalize;
  color: #adadad;
}

.footer-principal .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 80%;
  max-width: 300px;
}

.footer-principal .link-red {
  text-transform: capitalize;
  color: white;
  margin: 20px 0px 0px;
}

.footer-principal .mini-texto {
  text-align: left;
  margin-bottom: 20px;
}

@media (min-width: 545px) {
  .footer-principal {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer-principal .descripcion-footer {
    padding: 0px;
  }
  .footer-principal .nav-footer {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    padding-top: 50px;
  }
}

@media (min-width: 768px) {
  .footer-principal {
    -ms-grid-columns: 0.7fr 1fr 1fr;
        grid-template-columns: 0.7fr 1fr 1fr;
  }
  .footer-principal .nav-footer {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    padding-top: 0px;
  }
  .footer-principal .logo {
    width: 150px;
    height: 150px;
  }
  .footer-principal .link-red {
    margin: 20px 0px;
  }
}

@media (min-width: 1024px) {
  .footer-principal {
    -ms-grid-columns: 2fr 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr;
  }
  .footer-principal .descripcion-footer {
    padding: 0;
  }
}

.swiper-container {
  width: 100%;
  position: relative;
  overflow: visible !important;
}

.swiper-wrapper {
  position: relative;
  overflow: visible;
}

.tablas .fuente-1 {
  font-size: 4.3rem;
  top: -20px;
  left: 63px;
}

.swiper-pagination {
  bottom: -70px !important;
}

.swiper-button-prev {
  left: 30% !important;
  top: 106% !important;
  color: black !important;
  font-size: 1.5rem;
}

.swiper-button-next {
  right: 30% !important;
  top: 106% !important;
  color: black !important;
  font-size: 1.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.nav-movil {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: red;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

.nav-movil .btn-cerrar {
  width: 50px;
  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-movil .linea-cerrar {
  position: absolute;
  width: 40px;
  height: 2px;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-movil .linea-cerrar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-movil .logo-movil {
  width: 120px;
  height: 120px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-movil .contenido-nav-movil {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-movil .link-movil {
  padding: 5px 20px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--color-principal);
}

.nav-movil .footer-nav {
  margin-top: auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-textos);
}

@media (min-width: 768px) {
  .nav-movil {
    display: none;
  }
}

.animacion-uno {
  opacity: 0;
  bottom: -10px;
  position: relative;
}

.animacion-dos {
  opacity: 0;
  left: -20px;
  position: relative;
}

.animacion-tres {
  opacity: 0;
  right: -20px;
  position: relative;
}

.final-uno,
.final-dos,
.final-tres {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.final-uno {
  bottom: 0px;
}

.final-dos {
  left: 0px;
}

.final-tres {
  right: 0px;
}
/*# sourceMappingURL=main.css.map */