* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body {
  overflow-x: hidden;
  font-family: var(--fuente-principal);
  background: rgb(245, 245, 245);
}

.contenido-centrado {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contenido-centrado {
    padding: 0 40px;
  }
}
.oculto {
  display: none;
}

//FUENTES Y COLORES

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
:root {
  --fuente-fantasia: "Permanent Marker", cursive;
  --fuente-principal: "Roboto", sans-serif;
  --color-principal: #08d8de;
}

//MIXINS
@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//BOTONES

.btn-principal {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 5px 12px;
  border: 2px solid rgb(0, 224, 224);
  max-width: 120px;
  @include flexbox(row, center, center);
}
.btn-secundario {
  max-width: 200px;
  margin: 0 auto;
  background: #08d8de;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 3px;
  padding: 7px 15px;
  border: 2px solid #08d8de;
  @include flexbox(row, center, center);
  color: rgb(255, 255, 255);
}
//INICIO NAVEGACION PRINCIPAL

.nav-principal {
  background: red;
  width: 100%;
  height: 70px;
  @include flexbox(row, space-between, center);
  .logo {
    background: green;
    width: 70px;
    height: 100%;
  }
  .hamburguesa {
    background: aqua;
    width: 50px;
    height: 50px;
    @include flexbox(column, center, center);
  }
  .linea-hamburguesa {
    width: 35px;
    height: 4px;
    background: black;
    margin: 3px 0px;
  }
}

//INICIO MEDIA QUERYS NAV PRINCIPAL

@media (min-width: 768px) {
  .nav-principal {
    .hamburguesa {
      display: none;
    }
    .nav-desktop {
      @include flexbox(row, space-between, center);
      background: aqua;
      width: calc(100% - 50px);
      height: 100%;
    }
    .contenedor-links {
      background: blue;
      @include flexbox(row, flex-start, center);
      width: 70%;
      height: 100%;
      list-style-type: none;
    }
    .links {
      background: white;
      padding: 5px 15px;
      margin: 0px 0px 0px 55px;
    }
  }
}

//INICIO HEADER PRINCIPAL

.header-principal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px;
  padding-top: 100px;
  .descripcion-header {
    @include flexbox(column, flex-start, center);
    position: relative;
  }
  .titulo-principal {
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
  }
  .descripcion-principal {
    text-align: center;
    font-size: 0.9rem;
    margin: 10px 0px 30px;
    font-weight: bolder;
    text-transform: capitalize;
    letter-spacing: 0px;
  }
}

//MEDIA QUERYS HEADER PRINCIPAL

@media (min-width: 768px) {
  .header-principal {
    padding-top: 0;
    grid-template-columns: 100px 1fr 30px;
    grid-template-rows: 500px;
    .contenedor-desktop {
      position: absolute;
      left: 0;
      bottom: 50px;
      width: 450px;
    }
    .titulo-principal {
      text-align: left;
      font-size: 5rem;
    }
    .descripcion-principal {
      text-align: left;
    }
    .btn-secundario {
      margin: 0;
    }
    .video-desktop {
      display: block;
      background: aqua;
    }
    .texto-vertical {
      display: block;
      background: red;
    }
  }
}

@media (min-width: 1024px) {
  .header-principal {
    grid-template-rows: 600px;
    .contenedor-desktop {
      bottom: 100px;
    }
  }
}
.texto-vertical {
  position: relative;
}
.txt-vertical {
  background: aqua;
  transform: rotate(90deg);
  position: absolute;
  width: 250px;
  height: 20px;
  bottom: 50%;
  left: -110px;
}
